@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");

.font-ele {
  font-family: "Electrolize", sans-serif;
}

.bg-blue {
  background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0.7)
    ),
    url("./Assets/red.jpg");
  background-size: cover;
  background-position: center;
}

* {
  color: rgb(35, 85, 160);
}

.bg-white-50 {
  background-color: rgba(255, 255, 255, 0.5);
}
